<h1>Business Profile Feed</h1>

<% @business_profiles.each do |x| %>
<%= link_to x.name, x %><br />
   <%= x.bio %></br>
   <% if user_signed_in? %>
   Miles from you: <%= x.distance_to(current_user) %> </br>
   <% end %>
<% end %>
