<h1>The Beer List</h1>
<h3>Search for your favorite beer or type of beer:</h3>


<!-- <#% @beers.each do |info| %> -->
<!-- <p><#%= info %></p> -->
<%#end%>

<%= form_tag(search_path, method: :get) do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag %>
<% end %>
