<h1>The Beer List</h1>
<h3>Search for your favorite beer or type of beer:</h3>


<!-- <#% @beers.each do |info| %> -->
<!-- <p><#%= info %></p> -->
<%#end%

<!-- #place holder -->
        <form method="post" action="www.websitehere.com/folderhere/"
              name="searchform" id="searchform">

            <label for="Search"> Search: </label>
            <input type="text" id="search" name="myName" placeholder="Search for Beer"
                   required="required" style="width: 520px" />

            <label for="category" id="category">Category</label>
            <select>
                <option value="title" selected="selected">Beer Name</option>
                <option value="director">Beer Type</option>
            </select>
            <input type="submit" value="Search" id="searchbtn">

            <p></p>
<h4>Today's beer of choice: <%= @beers.name %> <h4>

<div id="search_results">Local TapScout Results:</div>
